{% extends "base.html" %}

{% block footer %}

    <footer>
        <p>
            Uses this <a href="http://character.totalpartykill.ca/lotfp">excellent random OSR character generator</a>
            to fill PDF character sheets with random characters.
            The character generator was created by <a href="https://github.com/funkaoshi/randomcharacter">funkaoshi.</a>
        </p>
        <p>
            Intended for <a href="http://www.lotfp.com">Lamentations of the Flame Princess.</a>
        </p>
        <p>
            This tool uses the (frankly amazing) character sheets created by <a
                href="http://www.lastgaspgrimoire.com/penny-pamphlets/">Last Gasp Grimoire</a>
            Really, though, <a href="http://www.lastgaspgrimoire.com">their entire site</a> is a revelation unto the
            unworthy.
        </p>
        <p>
            This site designed and maintained by Ethan Fulbright.
        </p>
    </footer>

{% endblock footer %}