<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Lament</title>
    <link rel="stylesheet" type="text/css" href="../static/lament.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Calligraffitti|Crimson+Text">
</head>
<body>
<div id="container">
    <h1>Generate a specific class</h1>
    <div id="class_list" class="specificclass">
    <input type="radio" class="specificclass" name="desired_class" value="Cleric" checked>Cleric<br>
    <input type="radio" class="specificclass" name="desired_class" value="Fighter">Fighter<br>
    <input type="radio" class="specificclass" name="desired_class" value="Magic-User">Magic-User<br>
    <input type="radio" class="specificclass" name="desired_class" value="Dwarf">Dwarf<br>
    <input type="radio" class="specificclass" name="desired_class" value="Elf">Elf<br>
    <input type="radio" class="specificclass" name="desired_class" value="Halfling">Halfling<br>
    <input type="button" id="specific_generate" value="Generate">
    </div>
</div>


</body>

</html>