{% extends "base.html" %}

{% block title %} Generating a new batch of doomed bastards... {% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        $( document ).ready(function() {
            var $progress = 1;

            if (progress == 100) {
                location.replace("http://lament.strangled.net:42000");
            }
        });
    </script>
{%endblock %}

{% block content %}
    <div id="progess">
        <progress id="bar" value="1" max="100"></progress>
    </div>
    <div id="message">
        <p class="progress_message"></p>
    </div>

{% endblock %}