<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lament</title>
    <link rel="stylesheet" type="text/css" href="../static/lament.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Crimson+Text|Nixie+One">
</head>
<body>
    <div id="progess">
        <progress value="10" max="100"></progress>
    </div>
    <div id="message">
        <p class="progress_message">
            {{ message }}
        </p>
    </div>
</body>
</html>